.dep-container {
    margin: 20px 140px;
    padding-left: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*not taken*/
.depBox{
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: -1;
    margin: 12px;
    border-radius: 8px;
}

.depBox img{
    width: 80px;
    position: relative;
    z-index: 20;    
}

.backCorrector {
    background-color: rgba(0, 0, 0, 0.712);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.admin{
    background: url("../resources/images/banners/admin.jpg");
    background-position: center;
    background-size: cover;
    /*filter: blur(8px);*/
}

.hod{
    background: url("../resources/images/banners/hod.jpg");
    background-position: center;
    background-size: cover;
    /*filter: blur(8px);*/
}

.dvc{
    background: url("../resources/images/banners/dvc.jpg");
    background-position: center;
    background-size: cover;
    /*filter: blur(8px);*/
}

.stuff{
    background: url("../resources/images/banners/stuff.jpg");
    background-position: center;
    background-size: cover;
    /*filter: blur(8px);*/
}

.depBox h3{
    position: relative;
    z-index: 20;
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 30px;
}

.depBtn {
    position: relative;
    z-index: 20;
    outline: none;
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    transition: 350ms all ease-in-out;
}

.depBtn:hover{
    background-color: #fff;
    color: rgb(36, 40, 50);
}