.authContainer {
  background: linear-gradient(rgba(36, 40, 50, 0.5), rgba(1, 161, 231, 0.5));
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
  border-radius: 12px;
  width: 500px;
  height: 80vh;
  margin: 20px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authContainer img {
  width: 200px;
}

.googleLBtn {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  transition: 350ms all ease-in-out;
  cursor: pointer;
}

.googleLBtn:hover {
  background-color: #383838;
  color: #fff;
}

.googleLBtn img {
  width: 30px;
}

.googleLBtn p {
  margin: 0;
  margin-left: 8px;
  font-family: sans-serif;
  font-weight: bold;
}

input {
  display: block;
  padding: 10px 20px;
  margin-bottom: 8px;
  text-align: center;
  outline: none;
  border: none;
}

.gButton {
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 8px;
  text-align: center;
  background-color: rgb(0, 158, 84);
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bolder;
  outline: none;
  border: none;
  transition: 350ms all ease-in-out;
}

.gButton:hover {
  background-color: #fff;
  color: rgb(0, 158, 84);
}

.access-granted {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.access-granted-box {
  background-color: #fff;
  width: 60vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-granted-box h3 {
  color: rgb(3, 211, 3);
  font-size: 30px;
}

.accessBtn {
  border: none;
  outline: none;
  background-color: rgb(196, 128, 2);
  padding: 12px 20px;
  color: #fff;
  transition: 400ms all ease;
}

.accessBtn:hover {
  opacity: 0.5;
}
