.dep-container {
  margin: 20px 140px;
  padding-left: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Fixed something major here*/

.depBox {
  max-width: 200px;
  min-width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 8px;
  border-radius: 8px;
}

.depBox img {
  width: 80px;
  position: relative;
  z-index: 20;
  margin-top: 8px;
}

.backCorrector {
  background-color: rgba(0, 0, 0, 0.712);
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.admin {
  background: url("../resources/images/banners/admin.jpg");
  background-position: center;
  background-size: cover;
  /*filter: blur(8px);*/
}

.hod {
  background: url("../resources/images/banners/hod.jpg");
  background-position: center;
  background-size: cover;
  /*filter: blur(8px);*/
}

.dvc {
  background: url("../resources/images/banners/dvc.jpg");
  background-position: center;
  background-size: cover;
  /*filter: blur(8px);*/
}

.stuff {
  background: url("../resources/images/banners/stuff.jpg");
  background-position: center;
  background-size: cover;
  /*filter: blur(8px);*/
}

.depBox h3 {
  position: relative;
  z-index: 20;
  color: #f5f5f5;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
}

.depBtn {
  position: relative;
  cursor: pointer;
  z-index: 20;
  outline: none;
  border: none;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bolder;
  padding: 5px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  transition: 350ms all ease-in-out;
  margin-bottom: 15px;
}

.depBtn:hover {
  background-color: #fff;
  color: rgb(36, 40, 50);
}

.depBtn:hover .depBtnInner {
  color: rgb(36, 40, 50);
}

.depBtnInner {
  text-decoration: none;
  color: #fff;
}
