.brand {
  display: flex;
  /* background: linear-gradient(rgba(97, 67, 133, .5), rgba(81, 99, 149, .5)); */
  background: linear-gradient(
    -20deg,
    rgba(36, 40, 80, 0.5),
    rgba(1, 161, 231, 0.5)
  );
  justify-content: space-between;
  align-items: "center";
  padding: 20px 20px;
}

.brand-logo {
}

.brandRight {
  transform: translateX(-100px);
}

.brandRight h1,
.brandRight h5,
.brandRight p {
  margin: 0;
  padding: 0;
}

.brandRight h1 {
  margin-bottom: 12px;
  color: #fff;
}

.brandRight h5 {
  font-size: 20px;
  color: #fff;
}

.brandRight p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(160, 60, 60);
  margin-top: 10px;
}
