.stuff-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.stuff-side-pane {
  background-color: rgb(36, 40, 80);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 15px;
}

.stuff-main-content {
  flex: 4;
}

.stuff-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.stuff-profile img {
  width: 80px;
}

.stuff-profile p,
.stuff-profile label {
  margin: 0;
}

.stuff-profile p {
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
}

.stuff-btns label {
  position: absolute;
  bottom: -15px;
  right: -10px;
  background-color: #fff;
  color: black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.932);
}

.stuff-btns {
  /* background-color: #fff; */
  border: 2px solid #fff;
  width: 230px;
  height: 30px;
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;
  margin: 25px 0;
  color: #fff;
  transition: 300ms all ease;
  cursor: pointer;
}

.stuff-btns:hover {
  background-color: #fff;
}

.stuff-btns:hover p {
  color: black;
}

.lower-content button {
  border: none;
  outline: none;
  width: 260px;
  padding: 15px 35px;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: bold;
  transition: all 310ms ease-outgit;
}

.lower-content button:hover {
  background-color: rgba(0, 0, 0, 0.719);
  color: #fff;
}

.sec-titles {
  padding: 30px;
}

.sec-titles h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
}

.sec-titles p {
  font-size: 20px;
}

.act-courses {
  padding: 30px;
}

.m-course {
  background-color: blueviolet;
  max-width: 260px;
  padding: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.658);
}

.m-course p {
  margin: 0;
}

.cCode {
  color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.cName {
  color: #fff;
}

.theory-rep,
.prac-rep {
  display: flex;
}

.theory-num,
.prac-num {
  background-color: #fff;
  width: 60px;
  height: 60px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px 0 0 8px;
}

.theory-title,
.prac-title {
  background-color: #fff;
  width: 180px;
  height: 60px;
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
}

.num-of-courses {
  display: flex;
  padding: 30px;
}

.prac-courses,
.theo-courses {
  display: flex;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.582);
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 8px;
}

.prac-courses label,
.theo-courses label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.prac-courses {
  margin-right: 25px;
}

.styledClasses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
