.container {
  margin: 20px 35px;
  padding-left: 12px;
  padding-bottom: 12px;
  border-left: 12px solid rgb(6, 61, 240);
}

.container h1 {
  margin: 0;
  margin-bottom: 15px;
}

.story1,
.story2 {
  margin: 0;
}

.story1 {
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 28px;
  font-weight: bold;
  color: rgb(36, 40, 50);
}

.story2 {
  font-family: sans-serif;
  font-weight: bolder;
  margin-top: 8px;
  color: rgb(103, 99, 141);
}
